<!-- STATIC PAGE START -->

<div id="navbar"></div>
<div id='content'></div>

<!-- STATIC PAGE END -->

<script>
  $(function () {
    Sitbit.CURRENT_USER = {
      id: <%= current_user.id %>,
      username: "<%= current_user.username %>"
    };
    Sitbit.initialize();
  });
</script>
