<h4>Steps Avoided</h4>

<!-- <ul class='steps-tile-list'>
  <% sits.models.forEach(function (sit) { %>
    <li><%= sit.attributes.steps_avoided %></li>
  <% }) %>
</ul> -->

<div class="steps-graph-tile">
  <div id="vis-sgt"></div>
</div>
