<div class="graph-tiles">

  <div id="cals-tile" class="tile calories-tile">
  </div>

  <div id="steps-tile" class="tile steps-tile">
  </div>

  <div id="ints-tile" class="tile intervals-tile">
  </div>
</div>


<div class="sidebar-tiles">
  <div id="users-tile" class="tile users-tile">
  </div>

  <div id="friends-tile" class="tile friends-tile">
  </div>
</div>
