<h4>Log Sits</h4>

<form class="sit-form">
  <div class="form-group">

    <!-- start time -->
    <input id="start-time"
           type="datetime-local"
           name="sit[start_time]"
           class="form-control"
           placeholder="mm/dd/yy, --:-- AM (Start Time)">

    <!-- end time -->
    <input id="end-time"
           type="datetime-local"
           name="sit[end_time]"
           class="form-control"
           placeholder="mm/dd/yy, --:-- AM (Start Time)">

    <div class="checkbox">
      <label>
        <input type="checkbox" name="sit[is_sleep]" value="true"> Sleep
      </label>
      <input type="submit" class="btn btn-success sit-log" value="Log">
    </div>
  </div>

  <div class="sit-errors"></div>
</form>
