<h4>Log Sits</h4>

<form class="sit-form">
  <div class="form-group">

    <!-- start time -->
    <div style="margin-bottom: 15px" class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-time"><p class="input-label-text">Start</p></i></span>
      <input id="start-time"
            type="datetime-local"
            name="sit[start_time]"
            class="form-control"
            placeholder="mm/dd/yy, --:-- AM (Start Time)">
    </div>

    <!-- end time -->
    <div style="margin-bottom: 15px" class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-time"><p class="input-label-text">End</p></i></span>
      <input id="end-time"
            type="datetime-local"
            name="sit[end_time]"
            class="form-control"
            placeholder="mm/dd/yy, --:-- AM (Start Time)">
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" name="sit[is_sleep]" value="true"> Sleep
      </label>
      <input type="submit" class="btn btn-success sit-log" value="Log">
    </div>
  </div>

  <div class="sit-errors"><p class="no-error-message">Log Sit Intervals Here!</p></div>
</form>
