<!-- TODO: Delete this file -->

<ul class="nav nav-pills auth-nav">
  <% if logged_in? %>
    <li><%= current_user.username %></li>
    <%= button_to "Log Out", session_url, :method => :delete %>
  <% else %>
    <li><%= link_to "Log In", new_session_url %></li>
    <li><%= link_to "Sign Up", new_users_url %></li>
  <% end %>
</ul>
