<h4>Calories Rescued</h4>

<!-- <ul id='calories-tile-list'>
  <% sits.models.forEach(function (sit) { %>
    <li>( <%= sit.attributes.cal_stats.sit_cals %>, <%= sit.attributes.cal_stats.hyp_cals %> )</li>
  <% }) %>
</ul> -->

<div class="cals-graph-tile">
  <div id="vis-cgt"></div>
</div>
