<h5>Calories Tile</h5>

<ul class='intervals-tile-list'>
  <% sits.models.forEach(function (sit) { %>
    <li>( <%= sit.attributes.cal_stats.sit_cals %>, <%= sit.attributes.cal_stats.hyp_cals %> )</li>
  <% }) %>
</ul>
