<h4>Sit Intervals</h4>

<!-- <ul class='intervals-tile-list'>
  <% sits.models.forEach(function (sit) { %>
    <li><%= sit.attributes.interval.in_hours %></li>
  <% }) %>
</ul> -->

<div class="ints-graph-tile">
  <div id="vis-igt"></div>
</div>
