/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-timepicker
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #1D1D1D;
  color: white;
  z-index: -100;
}

#navbar {
  min-height: 50px;

  div {
    min-height: 50px;
  }
}

.navbar {
  position: fixed;
  width: 100%;
  border-radius: 0px;
}

.page-title {
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    z-index: -1;
}

.navbar-right {
  z-index: 10;
}

#content {
  width: 100%;
  position: absolute;
  z-index: -50;
  top: 50px; bottom: 0;
  background: transparent;

  .graph-tiles {
    position: absolute;
    z-index: -5;
    top: 0; bottom: 0;
    width: 70%;
    display: inline-block;
    margin: 10px auto;
    padding: 5% auto;
    background: transparent;

    .calories-tile {
      display: block;
      position: relative;
      top: 0; bottom: 0;
      z-index: -1;
      float: right;
      height: 55%;
      width: 95%;
      min-width: 350px;
      min-height: 300px;
      max-width: 710px;
      background: white;
      color: gray;
      margin: 5px;
      border-radius: 7px;
    }

    .intervals-tile {
      display: inline-block;
      position: relative;
      top: 50%; bottom: 100%;
      z-index: -1;
      float: right;
      height: 40%;
      width: 47.5%;
      min-width: 200px;
      min-height: 200px;
      max-width: 350px;
      background: white;
      color: gray;
      margin: 5px;
      border-radius: 7px;
    }

    .steps-tile {
      display: inline-block;
      position: relative;
      top: 50%; bottom: 100%;
      z-index: -1;
      float: right;
      height: 40%;
      width: 47.5%;
      min-width: 200px;
      min-height: 200px;
      max-width: 350px;
      background: white;
      color: gray;
      margin: 5px;
      border-radius: 7px;
    }
  }

  .sidebar-tiles {
    position: absolute;
    z-index: -5;
    top: 0; bottom: 0; left: 70%;
    width: 30%;
    display: inline-block;
    margin: 10px auto;
    background: transparent;

    .users-tile {
      display: block;
      position: relative;
      top: 50%; bottom: 100%;
      z-index: -1;
      float: left;
      height: 35%;
      width: 65%;
      min-width: 200px;
      min-height: 200px;
      background: maroon;
      margin: 5px;
      border-radius: 7px;
    }

    .friends-tile {
      display: block;
      position: relative;
      top: 50%; bottom: 100%;
      z-index: -1;
      float: left;
      height: 60%;
      width: 65%;
      min-width: 200px;
      background: lightgray;
      margin: 5px;
      border-radius: 7px;
    }
  }
}

#navbar div .user-searcher {
  min-height: 25px;
}

.filter-div {
  display: block;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #1D1D1D;
  opacity: 0.2;
}

.error-header {
  display: block;
  position: fixed;
  right: 25%;
  left: 25%;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  float: left;
  width: 50%;
  text-align: center;
  background: rgba(191,0,0,1);
  background: -moz-linear-gradient(top, rgba(191,0,0,1) 0%, rgba(153,0,0,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(191,0,0,1)), color-stop(100%, rgba(153,0,0,1)));
  background: -webkit-linear-gradient(top, rgba(191,0,0,1) 0%, rgba(153,0,0,1) 100%);
  background: -o-linear-gradient(top, rgba(191,0,0,1) 0%, rgba(153,0,0,1) 100%);
  background: -ms-linear-gradient(top, rgba(191,0,0,1) 0%, rgba(153,0,0,1) 100%);
  background: linear-gradient(to bottom, rgba(191,0,0,1) 0%, rgba(153,0,0,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bf0000', endColorstr='#990000', GradientType=0 );
}

.auth-b {
  position: absolute;
  height: 100%;
  width: 100%;
  background: #1D1D1D url(http://www.chictip.com/wp-content/uploads/2011/04/Living-Room_8x10-version_JPEG.jpg) no-repeat center center;
}

.auth-form {
  display:block;
  position: fixed;
  margin: 200px auto 0 auto;
  top: 0; bottom: 0; left: 0; right: 0;
  height: 360px;
  width: 360px;
  padding: 20px 25px 25px 25px;
  border-radius: 15px;

  background: rgba(252,252,252,1);
  background: -moz-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(235,235,235,1) 85%, rgba(220,220,220,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(252,252,252,1)), color-stop(85%, rgba(235,235,235,1)), color-stop(100%, rgba(220,220,220,1)));
  background: -webkit-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(235,235,235,1) 85%, rgba(220,220,220,1) 100%);
  background: -o-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(235,235,235,1) 85%, rgba(220,220,220,1) 100%);
  background: -ms-linear-gradient(top, rgba(252,252,252,1) 0%, rgba(235,235,235,1) 85%, rgba(220,220,220,1) 100%);
  background: linear-gradient(to bottom, rgba(252,252,252,1) 0%, rgba(235,235,235,1) 85%, rgba(220,220,220,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#dcdcdc', GradientType=0 );
}

.auth-nav {
  text-align: center;
}

.auth-form > h2 {
  font-size: 30px;
  position: relative;
  margin: 10px auto;
  text-align: center;
}

.auth-form > form {
  position: relative;
  margin: 30px auto;
  text-align: center;
}

.auth-btn {
  // background: #32b350;
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  padding: 7px 50px 7px 50px;
  text-decoration: none;
  border: 0;

  background: #39d15a;
  background-image: -webkit-linear-gradient(top, #39d15a, #32b350);
  background-image: -moz-linear-gradient(top, #39d15a, #32b350);
  background-image: -ms-linear-gradient(top, #39d15a, #32b350);
  background-image: -o-linear-gradient(top, #39d15a, #32b350);
  background-image: linear-gradient(to bottom, #39d15a, #32b350);
}

.auth-btn:hover {
  text-decoration: none;

  background: #39d15a;
  background-image: -webkit-linear-gradient(top, #39d15a, #2DA148);
  background-image: -moz-linear-gradient(top, #39d15a, #2DA148);
  background-image: -ms-linear-gradient(top, #39d15a, #2DA148);
  background-image: -o-linear-gradient(top, #39d15a, #2DA148);
  background-image: linear-gradient(to bottom, #39d15a, #2DA148);
}

.auth-logo {
  display: block;
  margin: 10px auto;
  width: 200px;
}
